body {
  background-color: #211e1d;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 20px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
}

img {
  border-radius: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #211e1d;
}

li {
  float: left;
}

li a {
  color: white;
  display: inline-block;
  margin: 2px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #363434;
  border-radius: 4px;
}

li a:hover {
  background-color: #e66f40;
}

li button, .dropdown-button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
}

li button:hover, .dropdown:hover .dropdown-button {
  background-color: #e66f40;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff00;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  background-color: #131313;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button:hover {background-color: #363434;}

.dropdown:hover .dropdown-content {
  display: block;
}

.themes {
  padding: 10px 0 10px;
  background-color: #363434;
  display: flex; 
  align-items: center;
}

.themebar {
  margin: 0 20px;
}

.themes button {
  background-color: #211e1d;
  border: none;
  margin: 5px;
}

table {
  font-size: 16px;
  border-spacing: 20px;
  margin: 10px 20px;
}

th {
  text-align: left;
  background-color: #363434;
  padding: 20px 20px;
}

tbody {
  font-size: 16px;
  line-height: 24px;
}

.topic {
  text-align: right;
}

.learno {
  padding: 20px;
  background-color: #363434;
  border-radius: 4px;
}

.histd {
  visibility: visible;
}

.histd .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}